<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>TimetableManagement</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>AddEnseignant</display-name>
    <servlet-name>AddEnseignant</servlet-name>
    <servlet-class>com.essat.controlleur.AddEnseignant</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddEnseignant</servlet-name>
    <url-pattern>/AddEnseignant</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteEnseignant</display-name>
    <servlet-name>DeleteEnseignant</servlet-name>
    <servlet-class>com.essat.controlleur.DeleteEnseignant</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteEnseignant</servlet-name>
    <url-pattern>/DeleteEnseignant</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateEnseignant</display-name>
    <servlet-name>UpdateEnseignant</servlet-name>
    <servlet-class>com.essat.controlleur.UpdateEnseignant</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateEnseignant</servlet-name>
    <url-pattern>/UpdateEnseignant</url-pattern>
  </servlet-mapping>
</web-app>